<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title><%= pageName %></title>
		<link rel="stylesheet" href="../build/css/vendor.css" />
		<link rel="stylesheet" href="../build/css/<%= pageName %>.css" />
		<script src="https://cdn.bootcss.com/vue/2.5.15/vue.min.js"></script>
	</head>
	<body>
		<div id="app">
			<<%= labelName %>></<%= labelName %>>
		</div>
		<script src="../build/vendor.js"></script>
		<script src="../build/<%= pageName %>.js"></script>
	</body>
</html>
